* {
    margin: 0px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.buttonLogin {
    position: absolute;
    width: 346.48px;
    height: 67.5px;
    left: 68px;
    top: 581px;



    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

.buttonRegistrer {

    position: absolute;
    width: 346.48px;
    height: 67.5px;
    left: 68px;
    top: 485px;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

.postalk {

    position: absolute;
    width: 305px;
    height: 81px;
    left: 121px;
    top: 185px;

    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 89px;

    color: #ffffff;
}

.description {

    position: absolute;
    width: 338.03px;
    height: 70.62px;
    left: 79px;
    top: 346px;

    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

    color: #ffffff;

}

body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-welcome {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image:
        url('./imagen/Fondo.png');
    background-size: auto;


}

.container-login {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image:
        url('./imagen/fondo\ app.png');
    background-size: 100%;
}

.container-register {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-image:
        url('./imagen/fondo\ app.png');
    background-size: 100%;
}


.buttonback {
    position: absolute;
    width: 128.1px;
    height: 50.5px;
    left: 272px;
    top: 735px;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;

}

.buttonlogin {

    position: absolute;
    width: 209.5px;
    height: 53.5px;
    left: 151px;
    top: 448px;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

.buttonr {
    position: absolute;
    width: 219.5px;
    height: 49.5px;
    left: 150px;
    top: 488px;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

.buttonBack {
    position: absolute;
    width: 194px;
    height: 52px;
    left: 166px;
    top: 687px;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 16px;
}

.iniciasesion {
    position: absolute;
    width: 309px;
    height: 24px;
    left: 100px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;


}

.descriptionr {
    position: absolute;
    width: 309px;
    height: 24px;
    left: 183px;
    top: 200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* identical to box height */

    color: #FFFFFF;
}

.postalklog {
    position: absolute;
    width: 305px;
    height: 81px;
    left: 130px;
    top: 93px;

    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 89px;

    color: #ffffff;
}

.postalkr {
    position: absolute;
    width: 305px;
    height: 81px;
    left: 130px;
    top: 93px;

    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 89px;

    color: #ffffff;

}

.emaillogin {

    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 270px;
    height: 39px;
    left: 119px;
    top: 289px;

    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;


}

.passwordlogin {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 270px;
    height: 39px;
    left: 119px;
    top: 349px;

    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inputEmail {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 270px;
    height: 39px;
    left: 120px;
    top: 289px;

    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inputPass {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 270px;
    height: 39px;
    left: 120px;
    top: 349px;

    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.inputConfirm {
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    width: 270px;
    height: 39px;
    left: 120px;
    top: 410px;

    background: #D9D9D9;
    border: 2px solid #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.recuerdame {
    position: absolute;
    width: 88px;
    height: 23px;
    left: 148px;
    top: 402px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    /* identical to box height */

    color: #FFFFFF;
}

.forgotpassword {

    position: absolute;
    width: 298px;
    height: 27px;
    left: 116px;
    top: 630px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    /* identical to box height */

    color: #FFFFFF;

}

.line {

    position: absolute;
    width: 313px;
    height: 0px;
    left: 92px;
    top: 675px;

    border: 1px solid #FFFFFF;

}

.liner {
    position: absolute;
    width: 313px;
    height: 0px;
    left: 100px;
    top: 655px;

    border: 1px solid #FFFFFF;
}

.textcuenta {
    position: absolute;
    width: 190px;
    height: 30px;
    left: 59px;
    top: 686px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    /* identical to box height */

    color: rgba(255, 255, 255, 0.8);



}

.exit{
    margin-top: 30px;
    margin-left: 420px;
    width: 9%;
    height: 5%;

    background-image:
        url('./imagen/exit.png');
    background-size: 100%;
}

.buttonnuevacuenta {
    position: absolute;
    width: 118px;
    height: 29.77px;
    left: 278px;
    top: 687px;
    text-align: center;
    background-color: rgb(203, 153, 100);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    font-size: 5px;
    font-family: 'Poppins';

    font-weight: 400;
    font-size: 13px;
    line-height: 1px;
}


.buttongoogle {
    position: absolute;
    width: 208px;
    height: 46px;
    left: 157px;
    top: 580px;

}


